@define-color cc-bg rgba(40, 42, 54, 1);
@define-color noti-border-color #BD93F9;
@define-color noti-bg rgba(40, 42, 54, 0.85);
@define-color noti-bg-opaque #282A36;
@define-color noti-bg-darker #282A36;
@define-color noti-bg-hover  #44475A;
@define-color noti-bg-hover-opaque #44475A;
@define-color noti-bg-focus rgba(68, 71, 90, 0.9);
@define-color noti-close-bg rgba(255, 255, 255, 0.1);
@define-color noti-close-bg-hover rgba(255, 255, 255, 0.15);
@define-color text-color #F8F8F2;
@define-color text-color-disabled #6272A4;
@define-color bg-selected  #BD93F9;
