@define-color cc-bg rgba(29, 32, 33, 0.85);
@define-color noti-border-color #fe8019;
@define-color noti-bg rgba(29, 32, 33, 0.85);
@define-color noti-bg-opaque rgb(29, 32, 33);
@define-color noti-bg-darker rgb(29, 32, 33);
@define-color noti-bg-hover  #282828;
@define-color noti-bg-hover-opaque #282828;
@define-color noti-bg-focus rgba(68, 68, 68, 0.6);
@define-color noti-close-bg rgba(255, 255, 255, 0.1);
@define-color noti-close-bg-hover rgba(255, 255, 255, 0.15);
@define-color text-color #ebdbb2;
@define-color text-color-disabled #504945;
@define-color bg-selected  #8ec07c;
