@define-color cc-bg rgba(40, 44, 52, 0.85);
@define-color noti-border-color #8BE9FD;
@define-color noti-bg rgba(40, 44, 52, 0.85);
@define-color noti-bg-opaque rgb(40, 44, 52);
@define-color noti-bg-darker rgb(40, 44, 52);
@define-color noti-bg-hover  rgb(68, 71, 90);
@define-color noti-bg-hover-opaque rgb(68, 71, 90);
@define-color noti-bg-focus rgba(68, 68, 68, 0.6);
@define-color noti-close-bg rgba(255, 255, 255, 0.1);
@define-color noti-close-bg-hover rgba(255, 255, 255, 0.15);
@define-color text-color rgb(255, 255, 255);
@define-color text-color-disabled #6272A4;
@define-color bg-selected #44475A;
